#hyperBtn {
    background-color: #16A085;
    border-color: #16A085;
    color: #fff;
    font-family: 'Abel', sans-serif;

}

#hyperBtn:hover {
    background-color: #a43c1c;
    border-color: #a43c1c;
}

.br {
    color: #16A085;
}