:root {
    --green: #16A085;
    --brown: #a43c1c;
}

body {
    background: url(../img/hero/footer-bg.png);
    background-size: cover;
    background-attachment: fixed;
}

#hyperBtn {
    background-color: #16A085;
    border-color: #16A085;
    color: #fff;
    font-family: 'Abel', sans-serif;

}

#hyperBtn:hover {
    background-color: #a43c1c;
    border-color: #a43c1c;
}

.br {
    color: #16A085;
}

.navbar {
    background: whitesmoke;
}

#prs {
    background: yellow;
    max-height: 30vh;
}