{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<nav class="navbar navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand">Hello <span class="br">{{user.username}}</span></a>
        <button class="btn btn-outline-success" type="submit">Logout</button>
        </form>
    </div>
</nav>
<section class="navbars">
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3">
                <h4>Our <span class="br">Products</span></h4>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-3">
                <div class="card h-100" id="p-card">
                    <div class="mx-auto text-center">
                        <img src="../../../static/img/4.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{Billboards}</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Select Product
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100" id="p-card">
                    <div class="mx-auto text-center">
                        <img src="../../../static/img/4.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{Billboards}</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Select Product
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100" id="p-card">
                    <div class="mx-auto text-center">
                        <img src="../../../static/img/4.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{Billboards}</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Select Product
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100" id="p-card">
                    <div class="mx-auto text-center">
                        <img src="../../../static/img/4.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{Billboards}</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Select Product
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Product Description</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="card-title">{Billboards}</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Select Product</button>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}