{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<section class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 colmd-6">
                <div class="header mx-auto text-center">
                    <h4>
                        Customer <span class="br">Self Help Portal</span>
                    </h4>
                </div>
                <div class="body">
                    <h5 class="my-3">
                        Login
                    </h5>
                    <p class="b-p">
                        Hello, Welcome Back! You are clicks away from seeing our catalog or even creating a job ticket.
                    </p>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <p><span>{{login_form.email.label}}</span></p>
                                    <p><span>{{login_form.email}}</span></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <p><span>{{login_form.password.label}}</span></p>
                                    <p><span>{{login_form.password}}</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group my-4">
                            <button type="submit" class="btn btn-primary" id="hyperBtn">Login</button>
                        </div>
                        <p id="sign2">Don't have an account?, <a href="{% url 'register' %}"
                                style="color: #ff5f13;">Create an account</a>.</p>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 c-right">

            </div>
        </div>
    </div>
</section>
{% endblock %}



<!--  -->